<nav>
    <div class="site-title">
      <a href="/"><h1>ExpenseTracker</h1></a>
      <p>Admin View of Expense Tracker</p>
    </div>
    <ul>
      <li><a href="/">Login</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/keyword/create">New Keyword</a></li>
    </ul>
  </nav>